/*  Style the FXML elements  */

/* Set default style- children will inherit or override this */
.customerRoot{
	-fx-padding: 16px;
	-fx-background-color: lightgreen;
}

.warehouseRoot{
	-fx-padding: 8px;
	-fx-background-color: lightpink;
}

.searchResult {
	-fx-font-size: 16px;
}

.itemSelected {
    -fx-font-size: 16px;
}

/* Style the title label */
.titleText {
	-fx-font-size: 24px;
	-fx-font-weight: bold;
	-fx-text-fill: purple;
}

#headerText {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: purple;

}
